.benefit-screen{ 
 align-items:center;
}
.benefit-wrapper-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-benefit{
 display: flex; 
 flex-direction: column;
 justify-content: flex-start;
 padding: 0 1rem;
 margin-top: 1rem;
 
}
.card-capture-wrapper{
 display: flex;
 width: 100%;
 margin: 1.2rem 0;
 font-size: 1.2rem; 
 align-items: center;
}
.wrap-img{
  width: max-content;
  margin-right: 1rem;
}
.card-benefit-image{
 object-fit: cover;
 border-radius: 50%;
}
@media screen and (min-width:765px) {
  .benefit-wrapper-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  .card-benefit{
    flex-basis: initial;
    /* max-width: 100%; */
    min-height: 200px;
  }
}