.form-section{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: url(./../images/main-theme-image.png);
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position-x: center;
  background-position-y: 28%;
}

.question-form{
  margin-top: 16rem;
}
.question-form > * {
  width: 100%;
  margin-bottom: 1rem;
}

.question-form *::placeholder {
  max-width: 200px;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: #c2c2c2;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.question-form > input,
.question-form > textarea{
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  resize: none;
}

.submit-question-wrapper {
  display: flex;
  align-items: center;
}
span.text-checkbox {
  margin: 0 0.5rem;
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: #a3a3a3;
  font-family: "Gilroy";
  font-weight: 400;
}
.btn-submit {
  padding: 0.5rem 1rem;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--color-of-theme);
}
.bg-image .btn-submit {
  display: block;
  width: 80%;
  margin: 1rem auto 0;
  text-align: center;
}
.bg-wrapper{
  padding-right: 1rem;
  padding-left: 1.5rem;
}
.bg-image {
  position: relative;
  margin: 0 auto;
  padding: 4rem 1.5rem 1.5rem;
  border-radius: var(--border-size);
  box-shadow: 0px 7px 5px 0px rgba(34, 60, 80, 0.2);
  background-image: url("./../images/bg-image-hand-pen.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
}

.bg-image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--border-size);
  background-color: var(--color-of-theme);
  clip-path: polygon(0 0, 35% 0, 65% 100%, 0% 100%);
  opacity: 0.4;
  z-index: 1;
}
.wrapper-text {
  display: inline-block;
  position: relative;
  padding: 0 1rem 1rem;
  background-color: var(--white-color);
  z-index: 2;
}


@media screen and (min-width: 460px) { 
  .form-section{
    margin: 0 auto;
    background-position-y: 22%;
  }
  .question-form {
    margin-top: 17rem;
  }
}

@media screen and (min-width: 768px) {
  .form-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem auto;
    background-position-x: 0rem;
    background-position-y: -3rem;
    background-size: 21rem;
  }
  .question-form {
    margin-top: 1rem;
}
  span.text-checkbox{
    margin-right: auto;
  }  
}
@media screen and (min-width: 992px) {
  .form-section{
    background-position-x: 3rem;
    background-position-y: -5rem;
    background-size: 22rem;
  }
}
@media screen and (min-width: 1024px) {
  .form-section{
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .form-section {
    background-position-y: -6rem;
  }
}
@media screen and (min-width: 1336px) {

}