.navigation-section{
  position: relative; 
  padding: 1rem;
  background-color: var(--color-of-theme);
  
}


.logo{
  font-size: 1.3rem;
  color: var(--white-color);
}
.nav-btn-wrapper{
  display: flex;    
  width: 2.2rem;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;  
  cursor: pointer;
}
.nav-btn{
 display: flex;
 width: 70%;
 height: 70%;
 flex-direction: column;
 justify-content: space-around; 
 }

.nav-btn > *{
  width: 100%;
  height: 9%;
  
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-list{
 display: none;
}

@media screen and (min-width: 768px) {
  .navigation-section::after{ 
    content: "";  
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5%;
    padding-bottom: 1px;
    background-color: #C4C4C4; 
  }
  
}
