.services-screen button.btn-submit{
  display: block;
  width: 80%;
  margin: 1rem auto 0;  
}
.bg-image{
  position: relative;  
  padding: 4rem 1.5rem 1.5rem;
  border-radius: var(--border-size);
  box-shadow: 0px 7px 5px 0px rgba(34, 60, 80, 0.2);
  background-image: url('./../images/bg-image-hand-pen.jpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;   
}

.bg-image:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--border-size);
  background-color: var(--color-of-theme);
  clip-path: polygon(0 0, 35% 0, 65% 100%, 0% 100%);
  opacity: 0.4;
  z-index: 1;

}
.wrapper-text{
  display: inline-block;
  position: relative;
  padding: 0 1rem 1rem;
  background-color: var(--white-color);
  z-index: 2;
}
.card-wrapper{
  /* display: block;
  margin: 0 auto;  
   */
  
}
