.card-wrapper{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  
}
.galery {
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 220px;
  padding: 50% 3% 5%;
}
.galery *:last-child {
  display: inline-block;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}
.welding {
  background-image: url(./../images/welding.jpg);
}
.building {
  display: none;
  background-image: url(./../images/building.jpg);
}
.training {
  display: none;
  background-image: url(./../images/training.jpg);
}
.galery-strip-buttons{
 display: flex;
 justify-content: space-between;
 align-content: center;
 margin: 0 auto;
 width: 100%;
 height: 0.3rem;
}
.strip-btn{
  flex-basis: calc(100%/7);
  border: none;
 background-color: var(--color-of-theme);
}
.strip-btn:not(:first-child){
  background-color: var(--not-activ-color);
}
.toggle-wrapper{
 display: flex;
 margin: 1.5rem auto;
 justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .toggle-wrapper{
    display: none;
  }
}